<h1>Votre Panier</h1>
<% if @cart.cart_items.any? %>
  <div class="cart-container">
    <% @cart.cart_items.each do |cart_item| %>
      <div class="cart-item">
        <div class="cart-item-details">
          <%= cl_image_tag cart_item.product.image.key, height: 100, width: 100, crop: :fill %>
          <p class="cart-item-nom"><%= cart_item.product.nom%></p>
          <p class="cart-item-prix"><%= number_to_currency(cart_item.product.price_cents / 100 , unit: '€') %></p> <!-- Prix formaté -->
        </div>
        <div class="cart-item-actions">
          <%= form_with(url: cart_cart_item_path(@cart, cart_item), method: :delete, local: true) do |form| %>
            <%= form.submit "Supprimer", class: "btn btn-danger", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce produit ?" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="total-cart">
    <p>Total : <%= number_to_currency(@cart.total_price_cents / 100, unit: "€", separator: ".", delimiter: "") %></p>
  </div>

  <%= form_with(url: new_payment_path(order_id: @order.id), method: :get, local: true) do |form| %>
    <%= form.submit 'Payer', class: 'btn btn-success' %>
  <% end %>

<% else %>
  <p>Votre panier est vide</p>
<% end %>
