<h1>Votre Panier</h1>
<% if @cart.cart_items.any? %>
  <div class="cart-container">
    <% @cart.cart_items.each do |cart_item| %>
      <div class="cart-item">
        <div class="cart-item-details">
          <%= cl_image_tag cart_item.product.image.key, height: 100, width: 100, crop: :fill %>
          <p class="cart-item-nom"><%= cart_item.product.nom%></p>
          <p class="cart-item-prix"><%= cart_item.product.prix%>€</p>
        </div>
        <div class="cart-item-actions">
          <%= form_with(url: cart_cart_item_path(@cart, cart_item), method: :delete, local: true) do |form| %>
            <%= form.submit "Supprimer", class: "btn btn-danger", data: { confirm: "Êtes-vous sûr de vouloir supprimer ce produit ?" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="total-cart">
    <p>Total : <%= @cart.cart_items.sum {|item| item.product.prix}%>€</p>
  </div>

<% else %>
  <p>Votre panier est vide</p>
<% end %>
