<div class="card">
  <% if product.image.attached? %>
    <%= cl_image_tag product.image.key, height: 200, width: 200, crop: :fill %>
  <% else %>
    <img src="https://via.placeholder.com/200" class="card-img-top" alt="Image non disponible">
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= product.nom %></h5>
    <p class="card-text"><%= product.description %></p>
    <p class="card-text"><%= "#{product.prix}€" %></p>

    <%= link_to "Voir les détails", product_path(product), class: "btn btn-primary" %>
    <% if current_cart %>
      <%= form_with(url: cart_cart_items_path(current_cart.id, product_id: product.id), method: :post, local: true) do |form| %>
        <%= form.hidden_field :product_id, value: product.id %>
        <%= form.submit "Ajouter au panier", class: "btn btn-success ml-2" %>
      <% end %>
    <% else %>
      <p class="text-danger">Vous devez être connecté pour ajouter des éléments au panier.</p>
    <% end %>
  </div>
</div>
